/*los colores de fondo de las secciones son temporales, solo por fines de testeo*/

body {
  background-color: #080016;
  color: #CECECE;
}

p {
  font-family: sai;
}
h1 {
  font-family: sarp2;
  color: #03ED02;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 400%;
}
h2 {
  font-family: sarp0;
}

header{
    position: sticky;
    top: 0;
    background-color: #1a073a;
}

#logo {
  display: flex;
  flex-direction: row;
}
header img {
  padding: 10px 0 0 10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#skills {
  background-color: #5e3c99;
}
#skills .container {
  display: grid;
  grid-template-columns: auto auto;
}

li {
  list-style-image: url(./imgs/ListGreenSquare.svg);
  list-style-type: square;
}

a {
  color: #DA1393;
}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

#projects .container {
  display: grid;
  grid-template-columns: auto auto auto;
}