body {
  background-color: #080016;
  color: #CECECE;
}

p {
  font-family: sai;
}
h1 {
  font-family: sarp0;
}
h2 {
  font-family: sarp1;
}

#logo {
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#about .container {
  display: grid;
  grid-template-columns: auto auto;
}

li {
  list-style-image: url(./imgs/ListGreenSquare.svg);
  list-style-type: square;
}

#projects .container {
  display: grid;
  grid-template-columns: auto auto auto;
}